header {
background-color: black;
}

footer {
background-color: black;
}

.l-mypage {
height: auto;
display: flex;
justify-content: center;
margin: 100px;
}

.l-mypage--aside {
width: 250px;
background-color: #F0F0F0;
}

.p-mypage-posts--menu {
text-align: center;
padding: 100px 30px;
}

.p-mypage-posts--menu-group {
margin: 60px auto;
text-align: left;
}

.l-mypage--content {
width: 700px;
justify-content: center;
}

.p-mypage-posts--header {
display: flex;
justify-content: center;
gap: 100px;
align-items: center;
height: 100px;
}

.p-mypage-posts--body {
padding: 30px;
justify-content: center;
}

.c-list__header {
background-color: #F0F0F0 !important;
}

.c-list__header > span {
justify-content: center;
}

.c-list__row > span {
justify-content: center;
}

.c-list__actions {
justify-content: center;
}

.p-mypage-posts--pagination > nav {
justify-content: center;
margin-top: 20px;
}