.p-volunteer-manage-detail {
    padding: 52px 0 140px;
}

.l-volunteer-manage-detail_inner {
    width: 1080px;
    margin: 0 auto;
}

.p-volunteer-manage-detail_header {
    margin-bottom: 52px;
    text-align: center;
}

/* 페이지네이션 영역 */
.l-container .c-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px auto 0;
    width: fit-content;
}

.c-button--volunteer-manage-detail {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 52px;
}

button:disabled{
  opacity:0.5;
  cursor:not-allowed;
}
