
.p-password-reset{
    width: 100%;
}

.l-password-reset-layout{
    width: 520px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.l-password-reset-layout h2{
    text-align: center;
    margin: 50px 0;
}

.c-password-reset-input{
    flex: 1;
}
.c-password-reset-input h6{
    margin: 10px 0;
}

.c-password-reset-text{
    margin-bottom: 30px;
}

.c-password-reset-nextbtn{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.c-password-reset-nextbtn button{
    width: 100%;
    margin-bottom: 50px;
}

/* 에러 */

.is-error-text{
  color: red;
  font-size: 12px;
  margin-top: 4px;
  min-height: 16px;
}

.c-input.is-error{
  border: 1px solid red;
}

/* 토글 */
.l-toggle-layout{
  position: relative;
}

#c-password-btn-toggle{
  position: absolute;
  /* border: 1px solid red; */
  width: 30px;
  height: 30px;
  right: 13px;
  top: 8px;
}

#c-password-btn-toggle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.l-toggle-layout-2 {
  position: relative;
}

#c-password-btn-toggle-2{
  position: absolute;
  /* border: 1px solid red; */
  width: 30px;
  height: 30px;
  right: 13px;
  top: 8px;
}

#c-password-btn-toggle-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

