header {
    background-color: black;
}

footer {
    background-color: black;
}

.l-mypage {
    height: 900px;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.l-mypage--aside {
    width: 250px;
    background-color: #F0F0F0;
}

.p-mypage-check--menu {
    text-align: center;
    padding: 100px 30px;
}

.p-mypage-check--menu-group {
    margin: 60px auto;
    text-align: left;
}

.l-mypage--content {
    width: 700px;
    justify-content: center;
}

.p-mypage-check--header {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.p-mypage-check--title {
    margin-top: 25px;
    margin-bottom: 30px;
}

.p-mypage-check--form {
    margin: 5px 40px;
}

.c-button-group {
    display: flex;
    justify-content: center;
}

.c-button-group > button {
    margin: 10px 1px;
}