.p-footer{
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.l-footer-layout{
  height: 92px;
  background-color: rgb(58, 70, 44)
}

.l-footer-main{
  display: flex;
  height: 100%;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.l-footer-main div h6{
  color: var(--color-Tertiary);
}

.l-footer-main div img{
  display: inline;
  width: 200px;
  height: 50px;
}