.c-radio{

  display:flex;
  align-items:center;

  gap:var(--space-2);

  cursor:pointer;

}

.c-radio input{
  display:none;
}

.c-radio__circle{

  width:20px;
  height:20px;

  border:2px solid var(--color-border);

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

}

.c-radio__circle::after{

  content:"";

  width:10px;
  height:10px;

  background:var(--color-primary);

  border-radius:50%;

  transform:scale(0);

  transition:var(--transition-fast);

}

.c-radio input:checked + .c-radio__circle::after{

  transform:scale(1);

}